
#heading1 {
    font-size: 30px;
    }

   #button1:hover {
   background-color: springgreen;
   } 
   canvas {
    border: 3px solid darkgreen;
       animation-name: firstanimation;
       animation-duration: 4s;
       animation-iteration-count: infinite;
   } 
   #heading1:hover {
       background-color: aquamarine ;
       border: 3px solid;
   }   
   @keyframes firstanimation {
       from{box-shadow: 5px 5px 20px springgreen;}

       to{box-shadow: 5px 5px 20px blue;}
   }
               